<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Add Blood Bank</title>
	<link rel="stylesheet" th:href="@{style.css}"> 
</head>
<body>
	<header>
		<div class="nav">
			<div class=links>
				<a href="http://localhost:2222/">Patient</a>
				<a href="http://localhost:3333/">Blood Bank</a>
				<a href="http://localhost:4444/">Blood Stock</a>
			</div>
		</div>

		<div class="navOne">
			<div class=links>
				<a href="/">Blood Bank List</a>
				<a href="/add-bloodBank-page">Add Blood Bank</a>
			</div>
		</div>
	</header>
    <form action="#" th:action="@{/add-bloodBank}" th:object="${bloodBank}" method="post">
		  <label for="fName">Blood Bank Name</label>
	      <input type="text" id="fName" th:field="*{bloodBankName}" required />
         
          <label for="address">Address</label>
	      <input type="text" id="address" th:field="*{address}" required/>
                   
          <label for="city">City</label>
	      <input type="text" id="city" th:field="*{city}" required />
	      
          <label for="phoneNumber">Phone Number</label>
	      <input type="number" id="phoneNumber" th:field="*{phoneNumber}" required/>
	      
          <label for="website">Website</label>
	      <input type="text" id="website" th:field="*{website}" required/>
          
          <label for="email">E-Mail</label>
	      <input type="text" id="email" th:field="*{email}" required/>
 
          <p><input type="submit" value="Submit" /> </p>
    </form>
</body>
</html>